
{% extends 'emp/base_student.html' %}

{% block text %}
student section
{% endblock %}





{% block search1 %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

       <form method="get" action="{% url 'search' %}" class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
              <input type="text" class="form-control bg-light border-0 small" name="search" id="search" placeholder="Search for jobs" aria-label="Search" aria-describedby="basic-addon2">
                  <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                                search
                  <i class="fa fa-search"></i>
                </button>
              </div>


            </div>

          </form>




{% endblock %}


{% block content %}



{% load static %}


 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


        <div class="row">
             {% for post in allPosts %}
<div class="card" style="width:655px">

  <div class="card-body">
    <h4 class="card-title">{{n.jobtitle}}</h4>

    <p class="card-text">
         <strong class="d-inline-block mb-2 text-primary">Article by {{post.author}}</strong>
          <h3 class="mb-0"><a class="text-dark" href="/blog/{{post.slug}}">{{post.title}}</a></h3>
          <div class="mb-1 text-muted">{{post.datetime}}</div>
          <p>{{post.content|safe| truncatechars:200 }}</p>
      </p>

  </p>

              <div class="apply-btn">
          <a href="/blogstudent/{{post.slug}}" role="button" class="btn btn-primary">Continue reading</a>





</div>
  </div>
</div>
{% endfor %}


{% endblock %}



<!-- Sign upModal -->
