<!-- company card where selected students are displayed-->
{% extends 'emp/base.html' %}
{% block text %}
Student's applied
{% endblock %}
{% block nav %}

    <!-- Nav Item - Tables -->






  <li class="nav-item">
        <a class="nav-link" href="{% url 'employer' %}">
      <i class="fas fa-user-tie"></i>
          <span>Main Section</span></a>
      </li>


 <li class="nav-item">
        <a class="nav-link" href="logout">
          <i class="fas fa-user-graduate"></i>
          <span>Log out</span></a>
      </li>

{% endblock %}
{% block content %}
{% load static %}
 <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>


<div class="resume">

   <div class="resume_left">

     <div class="resume_profile">
     <!--  <img src="{{item.employer.e_pic.url}}" alt="profile_pic">-->
     </div>
     <div class="resume_content">
       <div class="resume_item resume_info">
         <p class="title">
             <p class="bold"><h1>{{item.employer.company_name}}</h1>
           {{item.joblocation}}
         </p>

         </div>

  <div class="resume_right">
    <div class="resume_item resume_about">

        <p>{{item.jobdescription}}</p>
    </div>
    <div class="resume_item resume_work">
        <div class="title">
           <p class="bold">Domain</p>
         </div>
        <ul>
            <li>
               <p>{{item.employer.emp_field}}</p>
            </li>


        </ul>
    </div>
         <div class="resume_item resume_work">
        <div class="title">
           <p class="bold">Students applied</p>
         </div>
    </div>
  <!--  <div class="resume_item resume_work">
      <div class="title">
           <p class="bold">Job Description</p>
         </div>
      <ul>
             <li>
               <p>{{item.jobdescription}}</p>
            </li>
        </ul>
    </div>-->




  </div>
</div>

   </div>
</div>

<h2>Students applied</h2>
{% load static %}
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>


				  <th>Name</th>
                    <th>Education</th>
                    <th>skills</th>
                    <th>test score</th>


				</tr>
            {% for i in lst %}







                <tr>


                    <td>
                       <a href="my_report/{{i.id}}">{{i.name}}</a></td>

                    <td>{{i.education}}</td>
					<td>{{i.skills}}</td>
					<td>{{i.Spokentest_score}}</td>



              <div class="apply-btn">
         <td><a class="btn btn-sm btn-info" href="accept/{{i.id}}/{{jb.id}}">Accept</a></td>
                    <td><a class="btn btn-sm btn-danger" href="">Reject</a></td>
      </div>


				</tr>




				{% endfor %}



			</table>
		</div>
	</div>
</div>
{% if selected %}

        <h2>Selected students</h2>
<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>


				  <th>Name</th>


				</tr>
            {% for i in selected %}







                <tr>


                    <td>



					<td>{{i}}</td>







				</tr>




				{% endfor %}



			</table>
		</div>
	</div>
</div>

{% endif %}


<h2>Recommended students</h2>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>


				  <th>Name</th>

                    <th>skills</th>
                    <th>test score</th>
                    <th>Status</th>

				</tr>
            {% for i in lst_recom %}







                <tr>


                    <td>
                       <a href="my_report/{{i.id}}">{{i.name}}</a></td>


					<td>{{i.skills}}</td>
					<td>{{i.Spokentest_score}}</td>






				</tr>




				{% endfor %}



			</table>
		</div>
	</div>
</div>






{% endblock %}


