{% extends 'emp/base.html' %}

{% block text %}
students Recommended
{% endblock %}


{% block nav %}

    <!-- Nav Item - Tables -->
   <li class="nav-item">
        <a class="nav-link" href="employer_profile">
      <i class="fas fa-user-tie"></i>
          <span>Create Profile</span></a>
      </li>





      <li class="nav-item">
        <a class="nav-link" href="post_jobs">
      <i class="fas fa-user-tie"></i>
          <span>Post jobs</span></a>
      </li>
  <li class="nav-item">
        <a class="nav-link" href="post_jobs">
      <i class="fas fa-user-tie"></i>
          <span>students applied</span></a>
      </li>


 <li class="nav-item">
        <a class="nav-link" href="logout">
          <i class="fas fa-user-graduate"></i>
          <span>Log out</span></a>
      </li>

{% endblock %}
{% block content %}
{% load static %}
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>


				  <th>Name</th>
                    <th>skills</th>


				</tr>
            {% for i in rec_lst %}


            {% for j in i %}





                <tr>

                    <td>{{j.name}}</td>
                    <td>{{j.skills}}</td>












				</tr>


                  {% endfor %}
          {% endfor %}


			</table>
		</div>
	</div>
</div>










{% endblock %}








