*
{
    padding: 0;
    margin: 0;
    font-family:sans-serif;

}

.menu-bar
{
    background-image: linear-gradient(to right, #6db9ef, #7ce08a);

}
.nav-link
{
        font-size: 16px;
        color: #fff !important;
         margin: 2px;
        }

  .navbar-nav
  {

  text-align: right;

  }
  .menu-bar .navbar-toggler
  {
        padding-right: 0;
        outline: none;
        border: none;
  }

.banner
{

        height: 80vh;
        background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(meeting2.jpg);
        background-size: cover;
        background-position: center;
        color: #fff;
}

.banner h1
{
        padding-top: 170px;
        font-size: 50px;
        letter-spacing: 6px;
        font-weight: 600;
        text-shadow: 0 0 30px rgba(0,0,0,0.5);

}

.search-job
{
margin: -50px 6% 50px;
padding: 30px 0;
background-image: linear-gradient(to right, #6db9ef, #7ce08a);
}


.search-job .form-control
{
        max-width: 250px;
        display: inline-flex;
        margin: 10px 5px;
        border-radius: 0;
        box-shadow: none !important;
        border: none !important;
}
.search-job .btn-primary
{
    border-radius: 0;
    box-shadow: none !important;
    border: none;
    display: inline-flex;
    margin: 5px;
    padding: 5px 20px;


}
#recruiters
{
    padding-top: 50px;
    padding-bottom: 100px;
}

#recruiters h3
{
    text-align: center;
    padding-bottom: 40px;
}
h3::before
{
    content: '';
    background-image: linear-gradient(to right, #6db9ef, #7ce08a);
    width: 50px;
    height: 30px;
    position: absolute;
    z-index: -10;
    margin-top: -15px;
    border-top-left-radius: 70px;
    border-bottom-right-radius: 90px;
}

#recruiters img
{
    max-width: 100px;
    margin: 10px 20px;

}
#jobs
{
    background: #f8f8fa;
    padding: 50px 0;

}

.company-details
{
    box-shadow: 0 2px 70px rgba(110,130,208, .18);
    border-radius: 5px;
    margin-bottom: 20px;
}

.job-update
{
    background: #fff;
    padding: 10px 20px;
    border-radius: 5px;


}

.job-update .fa
{
    margin-top: 5px;
    margin-right: 10px;
    color: #77d1b1;

}
.job-update small
{
    background: #efefe;
    padding :1px 5px;
    margin: 0 5px;
}
.job-update p
{
    margin-bottom: 0 !important;
}

.job-update a
{
    text-decoration: none !important;
    color: #b6bed2;
    float: right;
}
.apply-btn
{
    height: 40px;
    background-image: linear-gradient(to right, #6db9ef, #7ce08a);
    padding: 7px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}

.apply-btn .btn-primary
{
    padding: 0 30px;
    float: right;
    border-radius: 0;
    box-shadow: none;
    background: transparent;
    border: 1px solid #fff;

}

.pagelink li
{
    height: 25px;
    width: 25px;
    list-style: none;
    display: inline-block;
    cursor: pointer;

}

.pagelink li:hover, .active
{
    color: #fff;
    background-image: linear-gradient(to right, #6db9ef, #7ce08a);
}

.left-arrow
{
    color: #999;

}
.right-arrow
{
    color: #29b929;

}

#site-stats
{
    padding: 100px 0;

}
#site-stats h3
{
margin-bottom: 30px;

}

.stats-box
{
    padding: 30px;
    border-radius: 10px;
    margin: 20px 0;
    box-shadow: 0 2px 40px 0 rgba(110,130,208, .18);

}
.stats-box .fa
{
    font-size: 30px;
    margin-right: 10px;
    margin-bottom: 10px;
}