{% extends 'emp/base.html' %}
{% block text %}
  welcome
{% endblock %}

{% block nav %}

 <li class="nav-item">
        <a class="nav-link" href="">
          <i class="fas fa-user-graduate"></i>
          <span>roles</span></a>
      </li>
    <!-- Nav Item - Tables -->
      <li class="nav-item">
        <a class="nav-link" href="login">
      <i class="fas fa-user-tie"></i>
          <span>Login</span></a>
      </li>

{% endblock %}



{% block content %}
  <!-- Page Wrapper -->
                        <h3 id="form-title">Sign up for a free account</h3>
                      <a href="signup_student" class="btn btn-warning" role="button">I'm a student</a>
                    <a href="signup_employer" class="btn btn-danger" role="button">I'm an employer</a>

  {% endblock %}