{% extends 'emp/base.html' %}
{% block text %}
  welcome
{% endblock %}

{% block nav %}
  <li class="nav-item">
        <a class="nav-link" href="signup">
          <i class="fas fa-user-graduate"></i>
          <span>Sign up</span></a>
      </li>



      <!-- Nav Item - Tables -->
      <li class="nav-item">
        <a class="nav-link" href="login">
      <i class="fas fa-user-tie"></i>
          <span>Login</span></a>
      </li>

{% endblock %}
{% block content %}
  <!-- Page Wrapper -->
  <h1>Home page for both employer and student </h1>
  {% endblock %}