{% extends 'emp/base.html' %}

{% block text %}
Employer section
{% endblock %}


{% block nav %}

    <!-- Nav Item - Tables -->
      <li class="nav-item">
        <a class="nav-link" href="employer">
      <i class="fas fa-user-tie"></i>
          <span>Employers</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="employer">
      <i class="fas fa-user-tie"></i>
          <span>company info</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="employer">
      <i class="fas fa-user-tie"></i>
          <span>Post jobs</span></a>
      </li>


 <li class="nav-item">
        <a class="nav-link" href="logout">
          <i class="fas fa-user-graduate"></i>
          <span>Log out</span></a>
      </li>

{% endblock %}
{% block content %}










<div class="container my-3">
    <h3>Employers section</h3>
    <form action="" method="post">{% csrf_token %}
  <div class="form-group">

         <div class="form-group">
    <label for="name">Job Location</label>
    <input type="text" class="form-control" id="location" name='location' placeholder="Enter the location">
  </div>

 <div class="form-group">
    <label for="name">Job Title</label>
    <input type="text" class="form-control" id="title" name='title' placeholder="Enter the job title">
  </div>

  <div class="form-group">
    <label for="name">skills you required</label>
    <input type="text" class="form-control" id="skills" name='skills' placeholder="Enter the skills you required">
  </div>

 <div class="form-group">
    <label for="name">Job description</label>
    <input type="text" class="form-control" id="ask" name='share' placeholder=" job description">
  </div>


 <div class="form-group">
    <label for="name">Job category</label>
    <input type="text" class="form-control" id="ask1" name='cate' placeholder=" job category">
  </div>

       <div class="form-group">
    <label for="name">Job criteria</label>
    <input type="text" class="form-control" id="ask2" name='criteria' placeholder=" job criteria">
  </div>



        <button type="submit" class="btn btn-success">post</button>


    </form>



	</div>
</div>


{% endblock %}