{% extends 'emp/base.html' %}
{% block text %}
  Recruiters
{% endblock %}

{% block nav %}


 <li class="nav-item">
        <a class="nav-link" href="{% url 'index' %}">
          <i class="fas fa-user-graduate"></i>
          <span>Main Page</span></a>
      </li>
    <!-- Nav Item - Tables -->


{% endblock %}
{% block search1 %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

       <form method="get" action="search1" class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
              <input type="text" class="form-control bg-light border-0 small" name="search1" id="search1" placeholder="jobs based on skills" aria-label="Search" aria-describedby="basic-addon2">
                  <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                                search
                  <i class="fa fa-search"></i>
                </button>
              </div>


            </div>

          </form>
 <form method="get" action="search2" class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
              <input type="text" class="form-control bg-light border-0 small" name="search2" id="search2" placeholder="jobs based on title" aria-label="Search" aria-describedby="basic-addon2">
                  <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                                search
                  <i class="fa fa-search"></i>
                </button>
              </div>


            </div>

          </form>
 <form method="get" action="search3" class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
              <input type="text" class="form-control bg-light border-0 small" name="search3" id="search3" placeholder="Recruiters" aria-label="Search" aria-describedby="basic-addon2">
                  <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                                search
                  <i class="fa fa-search"></i>
                </button>
              </div>


            </div>

          </form>



{% endblock %}


{% block content %}
{% load static %}



<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>

{% for n in head %}
<div class="resume">

   <div class="resume_left">

     <div class="resume_profile">
       <img src="{{n.e_pic.url}}" alt="profile_pic">
     </div>
     <div class="resume_content">
       <div class="resume_item resume_info">
         <p class="title">
             <p class="bold"><h1>{{n.company_name}}</h1>

         </p>


         </div>
     </div>
   </div>

  <div class="resume_right">
    <div class="resume_item resume_about">

        <p>{{n.company_description}}</p>
    </div>
    <div class="resume_item resume_work">
        <div class="title">
           <p class="bold">Domain</p>
         </div>
        <ul>
            <li>
               <p>{{n.emp_field}}</p>
            </li>


        </ul>
    </div>





  </div>
</div>

</html>


{% endfor %}








{% endblock %}