*
{
    padding: 0;
    margin: 0;
    font-family:sans-serif;

}

.menu-bar
{
    background-image: linear-gradient(to right, #6db9ef, #7ce08a);

}
.nav-link
{
        font-size: 16px;
        color: #fff !important;
         margin: 2px;
        }

  .navbar-nav
  {

  text-align: right;

  }
  .menu-bar .navbar-toggler
  {
        padding-right: 0;
        outline: none;
        border: none;
  }

.banner
{

        height: 80vh;
        background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(meeting2.jpg);
        background-size: cover;
        background-position: center;
        color: #fff;
}

.banner h1
{
        padding-top: 170px;
        font-size: 50px;
        letter-spacing: 6px;
        font-weight: 600;
        text-shadow: 0 0 30px rgba(0,0,0,0.5);

}

.search-job
{
margin: -50px 6% 50px;
padding: 30px 0;
background-image: linear-gradient(to right, #6db9ef, #7ce08a);
}


.search-job .form-control
{
        max-width: 250px;
        display: inline-flex;
        margin: 10px 5px;
        border-radius: 0;
        box-shadow: none !important;
        border: none !important;
}
.search-job .btn-primary
{
    border-radius: 0;
    box-shadow: none !important;
    border: none;
    display: inline-flex;
    margin: 5px;
    padding: 5px 20px;


}
#recruiters
{
    padding-top: 50px;
    padding-bottom: 100px;
}

#recruiters h3
{
    text-align: center;
    padding-bottom: 40px;
}
h3::before
{
    content: '';
    background-image: linear-gradient(to right, #6db9ef, #7ce08a);
    width: 50px;
    height: 30px;
    position: absolute;
    z-index: -10;
    margin-top: -15px;
    border-top-left-radius: 70px;
    border-bottom-right-radius: 90px;
}